{% extends 'root.html' %}
{% block title %} Home {{ block.super }}  {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col my-5">
                <h1 style="color:rgb(10, 241, 98); text-align: center;">MCQ QUESTIONS</h1>
                <div class="contain">
                    <ul>
                        <button onclick="window.location.href='MCQ'" id="btn">Start Test<button>
                        <a>Jibon Ahmed</a><br>
                        <a href="#">Logout</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    


{% endblock content %}